html,
body {
  background-color: $white;
  color: $cod-gray;
  font-family: $lato;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

.content {
  margin: 0 auto;
  padding: 77px 0;
  width: 897px;
}

.leftcolumn {
  float: left;
  width: 62.4%;
}

.rightcolumn {
  background: $wild-sand;
  float: right;
  height: 638px;
  margin-top: 77px;
  padding: 50px 23px 50px 26px;
  width: 30%;
}

// Clear floats after the columns
.row {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.title {
  h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 31px;
  }

  .divider {
    background: $main-gradient;
    border: 0;
    height: 2px;
    margin: 14px 0 28px;
  }
}

.card {
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-top: 18px;
    word-spacing: 1.1px;
  }

  img {
    margin: 27px 0 21px;
  }
}

button {
  background: $main-gradient;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: $lato;
  font-size: 15px;
  line-height: 13px;
  padding: 13px;
  text-align: center;
  width: 100%;
}


// Responsive layout
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    padding: 0;
    width: 100%;
  }
}
