/* Resets */

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #101010;
  font-family: "Lato", sans-serif;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

.content {
  width: 897px;
  margin: 0 auto;
  padding: 77px 0;
}

.leftcolumn {
  float: left;
  width: 62.4%;
}

.rightcolumn {
  float: right;
  width: 30%;
  background: #F5F5F5;
  margin-top: 77px;
  padding: 50px 23px 50px 26px;
  height: 638px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.title .divider {
  background: #AC519C;
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
  height: 2px;
  border: 0;
  margin: 14px 0 28px;
}

.card h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
}

.card p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 1.1px;
  margin-top: 18px;
}

.card img {
  margin: 27px 0 21px;
}

button {
  background: #AC519C;
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  padding: 13px;
  width: 100%;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on 
top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* The Modal (background) */

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 322px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.684);
  /* Black w/ opacity */
  font-family: "Lato", sans-serif;
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 18px 65px;
  width: 570px;
  height: 310px;
  position: relative;
}

.modal-content .pagination {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300px;
  color: #848484;
  width: 100%;
  text-align: center;
}

.modal-content .pagination .step {
  width: 50%;
  height: 3px;
  border: 0;
  margin: 0;
  display: inline-block;
  background: #E5E5E5;
}

.modal-content .pagination .step.active {
  background: #AC519C;
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
}

.modal-content .form {
  padding-top: 18px;
}

.modal-content .form h3 {
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  color: #464646;
  text-align: center;
}

.modal-content .form h3 .green {
  color: #067900;
}

.modal-content .form input {
  box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
  width: 100%;
  padding: 21px 17px 16px;
  margin: 22px 0 22px;
  height: 54px;
  border: 0;
  font-size: 1.05em;
  letter-spacing: 0px;
}

.modal-content .form button {
  font-weight: bold;
  font-size: 16px;
  padding: 17px;
}

/* The Close Button */

.close {
  color: #464646;
  font-size: 39px;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: 11px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

