* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  background-color: #ffffff;
  color: #101010;
  font-family: "Lato", sans-serif;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

.content {
  margin: 0 auto;
  padding: 77px 0;
  width: 897px;
}

.leftcolumn {
  float: left;
  width: 62.4%;
}

.rightcolumn {
  background: #f5f5f5;
  float: right;
  height: 638px;
  margin-top: 77px;
  padding: 50px 23px 50px 26px;
  width: 30%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.title h1 {
  font-size: 26px;
  font-weight: bold;
  line-height: 31px;
}

.title .divider {
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
  border: 0;
  height: 2px;
  margin: 14px 0 28px;
}

.card h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 20px;
}

.card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 18px;
  word-spacing: 1.1px;
}

.card img {
  margin: 27px 0 21px;
}

button {
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 13px;
  padding: 13px;
  text-align: center;
  width: 100%;
}

button:hover {
  background: linear-gradient(90deg, #B678AA 0.83%, #E28990 100%);
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    padding: 0;
    width: 100%;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.684);
  font-family: "Lato", sans-serif;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 322px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  height: 310px;
  margin: auto;
  padding: 18px 65px;
  position: relative;
  width: 570px;
}

.modal-content .pagination {
  color: #848484;
  font-size: 14px;
  font-weight: 300px;
  line-height: 17px;
  text-align: center;
  width: 100%;
}

.modal-content .pagination .step {
  background: #e5e5e5;
  border: 0;
  display: inline-block;
  height: 3px;
  margin: 0;
  width: 50%;
}

.modal-content .pagination .step.active {
  background: linear-gradient(90deg, #ac519c 0.83%, #e5424f 100%);
}

.modal-content .form {
  padding-top: 18px;
}

.modal-content .form h3 {
  color: #464646;
  font-size: 23px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}

.modal-content .form .float-container {
  position: relative;
}

.modal-content .form .float-container input {
  border: 0;
  box-shadow: inset 0 1px 5px rgba(142, 142, 142, 0.5);
  font-size: 16.8px;
  height: 54px;
  letter-spacing: 0;
  margin: 22px 0;
  padding: 21px 17px 8px;
  width: 100%;
}

.modal-content .form .float-container label {
  color: #757575;
  font-size: 16.8px;
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
  transform: translate(0, 16px) scale(1);
  transform-origin: top left;
  transition: all 0.25s ease-in-out;
  transition-property: transform, font-size;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-content .form .float-container label.red {
  color: #b02d3d;
}

.modal-content .form .float-container.active label {
  transform: translate(0, 5.5px) scale(0.7);
}

.modal-content .form button {
  font-size: 16px;
  font-weight: bold;
  padding: 17px;
}

.modal-content .green {
  color: #067900;
}

.modal-content .red {
  color: #b02d3d;
}

.close {
  color: #464646;
  font-size: 39px;
  font-weight: bold;
  position: absolute;
  right: 11px;
  top: -2px;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

