// **********************************
// COLORS
// **********************************
$black: #000;
$green: #067900;
$cod-gray: #101010;
$tundora: #464646;
$light-gray: #848484;
$boulder: #757575;
$tapestry: #ac519c;
$amaranth: #e5424f;
$bouquet: #b678aa;
$pink: #e28990;
$red: #b02d3d;
$mercury: #e5e5e5;
$wild-sand: #f5f5f5;
$white-modal: #fefefe;
$white: #fff;
$transparent-black: rgba(0, 0, 0, .684);
$transparent-gray: rgba(142, 142, 142, .5);
$main-gradient: linear-gradient(90deg, $tapestry .83%, $amaranth 100%);
$hover-gradient: linear-gradient(90deg, $bouquet .83%, $pink 100%);
// **********************************

// **********************************
// Project Breakpoints
// Projects should not have more than 4 breakpoints
// All breakpoints should be set by one of these variables
// Tweak breakpoints variables for project if needed.
// **********************************
$sm: 376px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
// **********************************

// **********************************
// FONTS
// **********************************
$lato: 'Lato', sans-serif;
// **********************************
